@model Proyecto_Grupal_PrograWeb2.Models.usuario

@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared2/_Layout.cshtml";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/USUARIO/Index">Usuario</a></li>
        <li class="breadcrumb-item active" aria-current="page">@(Model.id > 0 ? Model.apellido + ", " + Model.nombre : "Nuevo Registro")</li>
    </ol>
</nav>

@using (Html.BeginForm("Guardar", "USUARIO", FormMethod.Post))
{
    @Html.HiddenFor(x => x.id)

    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">
            Información del Usuario
        </div>
        <div class="card-body">
            <div class="form-control">
                @Html.Label("Id: ")
                @Html.TextBoxFor(x => x.id, new { @class = "forn-control" })
            </div>
            <div class="form-control">
                @Html.Label("Nombre: ")
                @Html.TextBoxFor(x => x.nombre, new { @class = "forn-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger" })
            </div>
            <div class="form-control">
                @Html.Label("Apellido: ")
                @Html.TextBoxFor(x => x.apellido, new { @class = "forn-control" })
                @Html.ValidationMessageFor(x => x.apellido, null, new { @class = "text-danger" })
            </div>
            <div class="form-control">
                @Html.Label("Clave: ")
                @Html.TextBoxFor(x => x.password, new { @class = "forn-control" })
                @Html.ValidationMessageFor(x => x.password, null, new { @class = "text-danger" })
            </div>
            <div class="form-control">
                @Html.Label("Estado: ")
                <select name="ESTADO" class="form-control">
                    <option @(Model.estado == null ? "select" : "") value="">-Seleccione-</option>
                    <option @(Model.estado == "A" ? "select" : "") value="A">Activo</option>
                    <option @(Model.estado == "I" ? "select" : "") value="I">Inactivo</option>
                </select>
                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "text-danger" })

            </div>
        </div>
    </div>

    <div class="text-start">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/USUARIO" class="btn btn-danger">Cancelar</a>
    </div>

    <br />
}

